@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --text-color: white;
    --unc-blue: rgba(11, 115, 254, 255);
}

.nav-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0,0,0, .1);
}

.nav-container-2 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel {
    font-weight: 700;
    color: black;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

.nav-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.nav-text {
    text-decoration: none;
    position: relative;
    font-weight: 400;
    color: black;
    transition: .3s ease;
    width: 100%;
}


.bar {
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--text-color);
    border-radius: 1px;
    width: 0; /* Initially hidden */
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.nav-text:hover .bar {
    width: 100%; /* Slide in the bar */
}

.content-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content-container-2 {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    row-gap: 30px;
    height: 80vh;
}

.card-title {
    color: var(--text-color);
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

span {
    font-size: 60px;
    font-weight: 600;
}

.card-book {
    background-color: white;
    height: 70px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: nowrap;
    mix-blend-mode: screen;
    font-size: large;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: .7s ease;
}

.card-book:hover {
    transform: scale(1.02);
}

.card-fab-container {
    width: 100%;
    display: flex;
    justify-self: start;
    column-gap: 20px;
    align-items: center;
}

.fab-item {
    color: var(--text-color);
    transition: .3s ease;
    cursor: pointer;
}

.fab-item:hover {
    transform: scale(1.2);
}

.navpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 20px;
    height: 90vh;
}

.x-container {
    height: 10vh;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.x-svg {
    color: black; 
}

.container-container {
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: absolute;
}

.navpage-text {
    font-size: larger;
    font-weight: 500;
}

.tint-dark, .tint {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.2);
}

.tint-dark {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.active, .slider-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,.5);
    transition: .3s ease;
}

.active:hover, .slider-btn:hover {
    transform: scale(1.2);
}

.spacer-2 {
    width: 100%;
    height: 30px;
}

.active {
   background-color: rgb(150,150,150); 
   transition: .3s ease;
   box-shadow: 0 0 2px rgba(150,150,150,.5);
}

.video-slide {
    z-index: -3;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-animation {
    z-index:-1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(150,150,150); /* Starting background color */
    animation: close-circle 2.5s ease-in-out forwards;
}

@keyframes close-circle {
    0% {
        border-radius: 0%; /* Start with no border radius (rectangle) */
        opacity: 1; /* Fully visible */
    }
    100% {
        border-radius: 0%; /* End with full border radius (circle) */
        opacity: 0; /* Fully transparent */
    }
}

.img-container {
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.airport-container {
    z-index: -2;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.flight-content-container {
    z-index: 0;
    position: absolute;
    top: 65px;
    left: 0%;
    width: 100%;
    height: calc(100vh - 65px);
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
}

.flight-title {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.flight-subtitle {
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: large;
    padding-bottom: 60px;
}

.flight-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2px;
    column-gap: 2px;
}

.search-flights-new, .search-flights, .num-people, .from, .middle {
    height: 60px;
    width: 15%;
    background-color: white;
}

.from {
    border-radius: 20px 0px 0px 20px;
}

.num-people {
    border-radius: 0px 20px 20px 0px;
}

.search-flights-new, .search-flights {
    background-color: rgb(255,255,220);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-radius: 20px 20px 20px 20px;
    margin-left: 8px;
}

.flight-action-container-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2px;
    width: 100%;
}

.num-people-new , .middle-new-container, .to-new, .from-new {
    width: 90%;
    height: 60px;
    background-color: white;
}

.from-new {
    border-radius: 20px 20px 0px 0px;
}

.num-people-new {
    border-radius: 0px 0px 20px 20px;
}

.search-flights-new {
    margin-top: 8px;
    width: 90%;
    margin-left: 0px;
}

.middle-new-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 2px;
}

.middle-item {
    width: calc(50% - 1px);
    height: 60px;
    background-color: white;
}